.poster {
    width: 100%;
    aspect-ratio: 1;
}

.movieScreen {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.movieText {
    font-size: 15px;
    padding: 10px;
}

.movieContainer {
    flex-direction: row;
    justify-content: space-between;
}