.searchContainer {
    flex: 1;
}

.searchField {
    width: 90%;
    border: 1px solid gainsboro;
    padding: 15px;
    border-radius: 15px;
    flex-direction: row;
    justify-content: space-between;
}

.searchButton {
    width: 25%;
    border-radius: 10px;
    border: 1px solid gainsboro;
}